<%- include('../../partials/header') %>

<body>
    <%- include('../../partials/homenavbar') %>
    <div class="container">       
        <% result.articles.rows.forEach(article => { %>
            <div class="card mt-3">
                <div class="card-header">
                    <h5><%= article.title %></h5>
                </div>
                <div class="card-body">
                    <a class="btn btn-success" href="/<%= article.slug %>">Ler artigo</a>
                </div>
            </div>
        <% }) %>
        
        <div class="row">
            <div class="col-md-6">
                <% if(result.page >= 2) { %>
                    <a class="btn d-flex justify-content-start" href="/articles/page/<%= result.page - 1 %>"> &lsaquo;&lsaquo;Prev </a>
                <% } else { %>
                <% } %>
            </div>
            <div class="col-md-6">
                <% if(result.next) { %>
                    <a class="btn d-flex justify-content-end" href="/articles/page/<%= result.page + 1 %>"> Next&rsaquo;&rsaquo; </a>
                <% } %>
            </div>
            
        </div>
        
    </div>
</body>

<%- include('../../partials/footer') %>